<div class="leftside-menu">
  <!-- Logo Dark -->
  <a href="index.html" class="logo logo-dark">
    <span class="logo-lg">
      <img src="assets/images/logo-dark.png" alt="dark logo" height="22" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/logo-dark-sm.png" alt="small logo" height="22" />
    </span>
  </a>

  <span class="logo h2 text-white">GIF app</span>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button
    type="button"
    class="btn button-sm-hover p-0"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    title="Show Full Sidebar">
    <i class="ri-checkbox-blank-circle-line align-middle"></i>
  </button>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Historial</li>

      <li class="side-nav-item" *ngFor="let history of historial">
        <a class="side-nav-link" (click)="search(history)">
          <i class="uil-file"></i>
          <span> {{ history | titlecase }} </span>
        </a>
      </li>
    </ul>
    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
