<div class="leftside-menu">
  <span class="logo h3 text-white">Countries app</span>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button
    type="button"
    class="btn button-sm-hover p-0"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    title="Show Full Sidebar">
    <i class="ri-checkbox-blank-circle-line align-middle"></i>
  </button>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Search</li>

      <li class="side-nav-item" *ngFor="let param of searchBy; let i = index" routerLink="{{(i == 0)? '' : param}}">
        <a class="side-nav-link" routerLinkActive="text-danger" [routerLinkActiveOptions]="{exact: true}">
          <i class="uil-map"></i>
          <span> By {{param}} </span>
        </a>
      </li>
    </ul>
    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
