<div class="wrapper">
  <!-- ========== Navbar Start ========== -->
  <app-navbar></app-navbar>
  <!-- ========== Navbar End ========== -->

  <!-- ========== Left Sidebar Start ========== -->
  <app-sidebar></app-sidebar>
  <!-- ========== Left Sidebar End ========== -->

  <div class="content-page">
    <div class="content">
      <!-- Start Content-->
      <div class="container-fluid">
        <div class="row my-3">
          <div class="col-12">
            <div class="row">
              <div class="col-md-4 col-xxl-2" *ngFor="let gif of gifSearched">
                <!-- project card -->
                <div class="card d-block">
                  <img
                    class="card-img-top"
                    src="{{ gif.images.downsized_medium.url }}"
                    alt="{{ gif.title }}" />

                  <div class="card-body position-relative">
                    <h4 class="mt-0">
                      <a href="" class="text-title">{{ gif.title }}</a>
                    </h4>
                  </div>
                </div>
                <!-- end card-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
